<h2>Products List</h2>

<!-- Product List Code -->
<!-- <div *ngFor="let product of products">
  <a [title]="product.name + ' details'">
    <h3>{{ product.name }}</h3>
  </a>
  <h4>{{ product.price }}</h4>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>
  <app-product-alerts [product]="product"> </app-product-alerts>
</div> -->


<div  *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
</div>
